// Color Palette

//Accent colors
$Accentpurple: #ad1fea;
$Accentblue: #4661e6;
$Accentlightblue: #62bcfa;
$AccentDarkblue: #32395f;
$Accentorange: #f49f85;
$Accentred: #dd3d3b;
$Accentlightred: #ed9292;
$White: #fff;

//Greys

$Gray: #f2f4ff;
$Lightgray: #f7f8fd;
$Grayblue: #3a4374;
$Darkgray: #647196;
