@import "/src/styles/colors.scss";

.dropdown-dark {
  font-family: "Jost";
  background-color: $Grayblue;
  border: none;
  color: $Lightgray;
  padding: 1.2rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  svg {
    font-size: 1.2rem;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    span {
      padding-right: 0.4rem;
    }
  }
}

.chakra-menu__group {
  background-color: white;
  box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);
  border-radius: 0.6rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  button {
    display: flex;
    flex-direction: row-reverse;
    border: none;
    background-color: white;
    svg {
      color: $Accentpurple;
    }
  }
  span {
    margin-left: 1rem;
    color: $Darkgray;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    &:hover {
      color: $Accentpurple;
    }
  }
  hr {
    color: $Darkgray;
    opacity: 0.15;
  }
}
